/* Button.css */

.btn {
    /* 所有通用的样式 */
    color: #fff;
    border: none;
    border-radius: 5px;
}

.primary {
    composes: btn;
    composes: shadow from './author.css';
    background-color: #1aad19;
}
